<h1>Password Reset</h1>
<%= form_for :password_resets, url: password_resets_path do |f| %>
  <%= text_field_tag :email %>
  <%= submit_tag 'Send me Email to Reset Password', class: 'btn btn-primary' %>
<% end %>
