<h1>Password Reset Instruction</h1>

<h3>Hi <%= @user.name %></h3>
<p>Plese click the link below to reset your password</p>
<%= link_to 'Reset Password Link', edit_password_reset_url(@user, token: @user.reset_password_token) %>
